---
layout: page
title: Home
header: Home
group: navigation
permalink: "index.html"
---
{% include JB/setup %}

<div class="row">
  <div class="span10">
	<h2>Most Recent Blog Posts  <a href="/rss.xml"><img src="https://hefqzq.bn1304.livefilestore.com/y2pmVY4xKTpAK1SO31cFzMUSU4YhJvpZiwrM8CMMzyTbJvF7EblI_eUew6w-H3Z2dkaizpMg-Fp_fdru79bCsDSChJxiMz7JsZoMhqt4DUHszLJFZQmUzQl1gQVitf6qRE_t7aQ602tSaHOap3hjsB4rw/rss_pill_blue.png?psid=1" alt="Subscribe to What's New"></a></h2>

	<ul>
    {% for post in site.posts limit:15 offset:0 %}
		<li><span>{{ post.date | date: "%B %e, %Y" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
		<li><a href="/archive.html">View more posts in the archives...</a></li>
	</ul>
	
  </div>
  
  <div class="span4">
    <h4>About</h4>

	<p>Hi! This is {{ site.author.name }}, a Chinese <br/>Java coder. </p>
	<p>Now exploring R because I am interested in Machine Learning recently.</p>
	<p>Personally, I am a big fan of <a href="http://www.aoimiyazaki.jp/" title="AOI MIYAZAKI official web site - 宮﨑あおい" target="_blank">Aoi Miyazaki</a> and <a href="http://www.nba.com/suns/" title="Phoenix Suns - NBA.com" target="_blank">Phoenix Suns</a>. </p>
	
    <h4>Contact</h4>
	<p>
		<img style="vertical-align:top; width:16px; height:16px;" src="https://public.bn1304.livefilestore.com/y2p8RQfp1NbboQtY3JEmCIyCnnmoGmp0Km6w-bTcDLfL7oEhjYVF8pLyOSVCsohulRoh_QWlmkeSlQXCNkYKYnIICd3lmCGhdo0YvOF2WbgIY0/gmail-favicon.ico?psid=1">
		<a href="mailto:johnATgmailDOTcom" onclick="this.href=this.href.replace(/john/, 'yaoy.cs').replace(/AT/,'@').replace(/DOT/,'.')">yaoy.cs#<span style="display:none">null</span>gmail.com</a>
	</p>
	
	<!--
		<p style="line-height:.5em;">&nbsp;</p>
	-->
  
	<p>
		<img style="vertical-align:top; width:16px; height:16px;" src="https://github.com/favicon.ico">
		<a href="https://github.com/john" target="_blank" onclick="this.href=this.href.replace(/john/, 'erikyao')">GitHub</a>
		
		&nbsp;&nbsp;
  
		<img style="vertical-align:top; width:16px; height:16px;" src="https://hefqzq.bn1303.livefilestore.com/y2p_2UOBKRWWMTyO8Fb1mAYG_973wdv4OauV9omcRZgfnlo5UqFV621DKgehPS0p6d7sEDBlbCGBp3vf_wZNLG052T8t2kfIEJqcUFLkVDg2KE/twitter-favicon.ico?psid=1">
		<a href="https://twitter.com/john" target="_blank" onclick="this.href=this.href.replace(/john/, 'iamerikyao')">Twitter</a>
    </p>
</div>