---
layout: page
title: Home
header: Home
group: navigation
permalink: "index.html"
---
{% include JB/setup %}

<div class="row">
  <div class="span10">
	<h2>Most Recent Blog Posts</h2>

	<ul>
    {% for post in site.posts limit:11 offset:0 %}
		<li><span>{{ post.date | date: "%B %e, %Y" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
		<li><a href="/archive.html">View more posts in the archives...</a></li>
	</ul>
	
  </div>
  
  <div class="span4">
    <h4>About</h4>

	<p>Hi! This is {{ site.author.name }}. </p>
	<p>I am a Chinese coder now resigned and in persuit of a better opportunity. Java has been my major language for years, and I am also trying R because I am interested in Machine Learning recently.</p>
	<p>Personally, I am a big fan of <a href="http://www.aoimiyazaki.jp/" title="AOI MIYAZAKI official web site - 宮﨑あおい" target="_blank">Aoi Miyazaki</a> and <a href="http://www.nba.com/suns/" title="Phoenix Suns - NBA.com" target="_blank">Phoenix Suns</a>. </p>
	
    <h4>Contact</h4>
	<ul>
		<li>
			<img style="vertical-align:top; width:16px; height:16px;" src="https://github.com/favicon.ico"/>
			<a href="https://github.com/john" target="_blank" onclick = "this.href=this.href.replace(/john/, '{{ site.author.github }}')">GitHub</a>
		</li>
		<li>
			<img style="vertical-align:top; width:16px; height:16px;" src="http://gmail.google.com/favicon.ico"/>
			<a href="mailto:johnATgmailDOTcom" target="_blank" onclick = "this.href=this.href.replace(/john/, '{{ site.author.gmail }}').replace(/AT/,'@').replace(/DOT/,'.')">Gmail</a> 
		</li>
		<li>
			<img style="vertical-align:top; width:16px; height:16px;" src="https://hefqzq.bn1303.livefilestore.com/y2p_2UOBKRWWMTyO8Fb1mAYG_973wdv4OauV9omcRZgfnlo5UqFV621DKgehPS0p6d7sEDBlbCGBp3vf_wZNLG052T8t2kfIEJqcUFLkVDg2KE/twitter-favicon.ico?psid=1"/>
			<a href="https://twitter.com/john" target="_blank" onclick = "this.href=this.href.replace(/john/, '{{ site.author.twitter }}')">Twitter</a>
		</li>
	</ul>
</div>