<script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@latest/dist/mermaid.esm.min.mjs"
    import elkLayouts from "https://cdn.jsdelivr.net/npm/@mermaid-js/layout-elk@latest/dist/mermaid-layout-elk.esm.min.mjs"
    (async () => {
        // register ELK
        mermaid.registerLayoutLoaders(elkLayouts)

        let config = { 
            startOnLoad: false,
            theme: "neutral",
            themeVariables: {
                nodeBorder: '#FF6B6B',  // Red border for nodes
                fontSize: '1em',  // Default is 16px
                fontFamily: 'Menlo, Consolas, Monaco, "Ubuntu Mono", monospace'
            },
            flowchart: { 
                useMaxWidth: true,  // Respect container width
                htmlLabels: true  // Enable HTML in node labels (for formatting)
            } 
        };

        mermaid.initialize(config);
        
        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', async () => {
                await mermaid.run({
                    nodes: document.querySelectorAll('.language-mermaid'),
                });
            });
        } else {
            await mermaid.run({
                nodes: document.querySelectorAll('.language-mermaid'),
            });
        }
    })();
</script>